
.vscode/
.idea/

# # Global node_modules
node_modules/
dist/
.env
package-lock.json

# Backend 
/backend/node_modules/
/backend/dist/
/backend/package-lock.json
/backend/.env


# # Frontend
/web-app/.angular/
/web-app/node_modules/
/web-app/package-lock.json
/web-app/dist/





