<div class="container-fluid bg-info d-flex justify-content-center align-items-center h-100">
  <div class="card bg-white px-3 py-3" style="width: 25rem;">
    <div class="text-center">
      <h4>Login Page</h4>
    </div>
    <form class="example-form">
      <mat-form-field appearance="outline" class="example-full-width w-100">
        <mat-label>Email Id</mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input type="email" matInput placeholder="john@example.com">
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width  w-100">
        <mat-icon matPrefix>lock</mat-icon>
        <input type="password" matInput placeholder="john@example.com">
      </mat-form-field>
      <div class="text-center">
        <button mat-flat-button class="">Login</button>
      </div>
    </form>
    <div class="d-flex justify-content-between">
      <a class="text-decoration-none" href="#">Forgot password</a>
      <a class="text-decoration-none" href="#">For new Customers</a>
    </div>
  </div>
</div>
